openapi: 3.0.3
info:
  title: WhatsApp Cloud API
  description: |-
    [WhatsApp Cloud API](https://developers.facebook.com/docs/whatsapp/cloud-api), hosted by Meta, is the official WhatsApp Business Platform API used for business messaging. This collection contains common queries, sample responses, and links to supporting documentation that can help you quickly get started with the API.

    ## **Cloud API Overview**

    Cloud API allows medium and large businesses to communicate with customers at scale. Using the API, businesses can build systems that connect thousands of customers with agents or bots, enabling both programmatic and manual communication. Additionally, businesses can integrate the API with numerous backend systems, such as CRM and marketing platforms.

    [https://developers.facebook.com/docs/whatsapp/cloud-api/overview](https://developers.facebook.com/docs/whatsapp/cloud-api/overview)

    ## Getting Started with Cloud API

    To use the API and this collection you must have a Meta business portfolio, a WhatsApp Business Account, and a business phone number. If you complete the steps in the Cloud API [Get Started](https://developers.facebook.com/docs/whatsapp/cloud-api/get-started) guide, these assets will be created for you.

    ## Get Started as a Solution Partner

    [This guide](https://developers.facebook.com/docs/whatsapp/solution-providers/get-started-for-solution-partners) goes over the steps Solution Partners need to take in order to offer the Cloud API to their customers.

    ## Migrating from On-Premises API to Cloud API

    [This guide explains how to migrate](https://developers.facebook.com/docs/whatsapp/cloud-api/guides/migrating-from-onprem-to-cloud) business phone numbers from On-Premises API to Cloud API.

    ## Environment

    This collection has a corresponding WhatsApp Cloud API Postman [environment](https://learning.postman.com/docs/sending-requests/managing-environments/) which you must select when using the collection. Set **current values** for the variables defined in this environment if you wish to use the collection to perform queries.

    You can find most of these values in the [WhatsApp Manager](https://business.facebook.com/wa/manage/home/) or the **WhatsApp** > **Getting Started** panel in the [app dashboard](https://developers.facebook.com/apps). However, if you have an access token and your business portfolio ID, you can use queries in the collection to get the remaining values.

    ## Access tokens

    The API supports both user and system user access tokens. You can get a user access token by loading your app in the [app dashboard](https://developers.facebook.com/apps) and navigating to the WhatsApp > Getting Started panel. Alternatively you can use the [Graph API Explorer](https://developers.facebook.com/tools/explorer/) to generate one.

    Since user access tokens expire after 24 hours, you'll likely want to generate a system user access token, which lasts up to 60 days (or permanently, if you wish). See [Access Tokens](https://developers.facebook.com/docs/whatsapp/business-management-api/get-started#access-tokens) to learn how to create a system user and system user access token.

    Once you have your token, save it as a **current value** in the environment.

    ## Business portfolio ID

    You can get your business portfolio ID by signing into the [Meta Business Suite](https://business.facebook.com). The ID appears in the URL as the `business_id` query string parameter value. Once you save this as a **current value** in the environment, go to the WhatsApp Business Account (WABA) folder and run the **Get all owned WABAs** query. This will return your WABA ID, which you can save to your environment and then use to determine your business phone number ID.

    ## Permissions

    The API only relies on two permissions:

    - whatsapp_business_management
        
    - whatsapp_business_messaging
        

    Note that if you get a user access token from the app dashboard, your app will automatically be granted these permissions (by you, on your behalf), so you can use the token to test right away.

    Queries that target your business portfolio require the business_management permission, which you may also need based on your business use case. Most developers do not need this permission, however, as accessing your business portfolio is uncommon, and the Meta Business Suite provides nearly all of this functionality anyway.

    ## Access token debugger

    You can paste any token you generate into the [access token debugger](https://developers.facebook.com/tools/debug/accesstoken/) to see what type of token it is and what permission you have granted to your app.

    ## Pagination

    Endpoints that return lists/collections may [paginate results](https://developers.facebook.com/docs/graph-api/results) (you'll see previous and next properties in the response). Use the URLs from these properties to get the previous or next set of results. Note that if you click one of these links in Postman, it will open a new query in a new tab which you must save before running (otherwise it can't read your environment variables), so you may wish to cut and paste the URL and run the query in the same tab in which it was returned.
  version: 1.0.0
  contact: {}
servers:
  - url: https://graph.facebook.com
paths:
  /{Version}/{WABA-ID}/subscribed_apps:
    get:
      tags:
        - Webhook Subscriptions
      summary: Get All Subscriptions for a WABA
      description: "To get a list of apps subscribed to Webhooks for a WABA, send a
        **GET** request to the **`subscribed_apps`** endpoint on the WABA:"
      operationId: getAllSubscriptionsForAWaba
      responses:
        "200":
          description: Get All Subscriptions for a WABA
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        whatsapp_business_api_data:
                          type: object
                          properties:
                            id:
                              type: string
                              example: "7234002551525653"
                            link:
                              type: string
                              example: <APP1_LINK>
                            name:
                              type: string
                              example: <APP1_NAME>
                    example:
                      - whatsapp_business_api_data:
                          id: "7234002551525653"
                          link: <APP1_LINK>
                          name: <APP1_NAME>
                      - whatsapp_business_api_data:
                          id: "3736565603394103"
                          link: <APP2_LINK>
                          name: <APP2_LINK>
              examples:
                Get All Subscriptions for a WABA:
                  value:
                    data:
                      - whatsapp_business_api_data:
                          id: "7234002551525653"
                          link: <APP1_LINK>
                          name: <APP1_NAME>
                      - whatsapp_business_api_data:
                          id: "3736565603394103"
                          link: <APP2_LINK>
                          name: <APP2_LINK>
    post:
      tags:
        - Webhook Subscriptions
      summary: Subscribe to your WABA
      description: >-
        To make sure you receive notifications for your account you need to
        subscribe your app to your WABA.


        #### Response


        If your request is successful, all Webhook events for the phone numbers
        under this account are sent to your configured Webhooks endpoint.
      operationId: subscribeToYourWaba
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                override_callback_uri:
                  type: string
                  example: https://alternate-endpoint-callback.com/webhook
                verify_token:
                  type: string
                  example: myvoiceismypassport?
            examples:
              Override Callback URL:
                value:
                  override_callback_uri: https://alternate-endpoint-callback.com/webhook
                  verify_token: myvoiceismypassport?
      responses:
        "200":
          description: Subscribe to your WABA / Subscribe to a WABA / Override Callback URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        override_callback_uri:
                          type: string
                          example: https://alternate-endpoint-callback.com/webhook
                        whatsapp_business_api_data:
                          type: object
                          properties:
                            id:
                              type: string
                              example: "670843887433847"
                            link:
                              type: string
                              example: https://www.facebook.com/games/?app_id=67084...
                            name:
                              type: string
                              example: Jaspers Market
                    example:
                      - override_callback_uri: https://alternate-endpoint-callback.com/webhook
                        whatsapp_business_api_data:
                          id: "670843887433847"
                          link: https://www.facebook.com/games/?app_id=67084...
                          name: Jaspers Market
                  success:
                    example: "true"
                    anyOf:
                      - type: string
                        example: "true"
                      - type: boolean
                        example: true
              examples:
                Override Callback URL:
                  value:
                    data:
                      - override_callback_uri: https://alternate-endpoint-callback.com/webhook
                        whatsapp_business_api_data:
                          id: "670843887433847"
                          link: https://www.facebook.com/games/?app_id=67084...
                          name: Jaspers Market
                Subscribe to a WABA:
                  value:
                    success: true
                Subscribe to your WABA:
                  value:
                    success: "true"
    delete:
      tags:
        - Webhook Subscriptions
      summary: Unsubscribe from a WABA
      description: To unsubscribe your app from webhooks for a WhatsApp Business
        Account, send a **DELETE** request to the `/subscribed_apps/` endpoint
        on the WABA.
      operationId: unsubscribeFromAWaba
      responses:
        "200":
          description: Unsubscribe from a WABA
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
              examples:
                Unsubscribe from a WABA:
                  value:
                    success: true
    parameters:
      - name: Version
        in: path
        required: true
        schema:
          type: string
      - name: WABA-ID
        in: path
        required: true
        schema:
          type: string
  /{Version}/{WABA-ID}/phone_numbers:
    get:
      tags:
        - Phone Numbers
      summary: Get Phone Number ID
      description: |-
        To send messages, you need to register the phone number you want to use. This is the business phone number we mentioned in [Set up Assets](https://developers.facebook.com/docs/whatsapp/cloud-api/get-started#set-up-assets).

        Before you can proceed to registration, you need to find that phone number’s ID.

        #### Response

        If the request is successful, the response includes all phone numbers connected to your WABA.

        Save the ID for the phone number you want to register. For more information about this endpoint, see [Read Phone Numbers](https://developers.facebook.com/docs/whatsapp/business-management-api/phone-numbers).

        #### Migration Exception

        If you are migrating a phone number from the On-Premises API to the Cloud API, there are extra steps you need to perform before registering a phone number with the Cloud API. For more information regarding the full process, see [Migrate Between On-Premises and Cloud API](#79b8156b-8c83-4db9-94ac-dd9aaaa67390).

        To get your phone number’s ID, make the following API call:
      operationId: getPhoneNumberId
      parameters:
        - name: fields
          in: query
          schema:
            type: string
            example: id,is_official_business_account,display_phone_number,verified_name
        - name: filtering
          in: query
          schema:
            type: string
            example: "[{'field':'account_mode','operator':'EQUAL','value':'SANDBOX'}]"
      responses:
        "200":
          description: Get Phone Number ID / Get Phone Numbers
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        display_phone_number:
                          type: string
                          example: +1 631-555-5555
                        id:
                          type: string
                          example: "1906385232743451"
                        quality_rating:
                          type: string
                          example: GREEN
                        verified_name:
                          type: string
                          example: Jasper's Market
                    example:
                      - display_phone_number: +1 631-555-5555
                        id: "1906385232743451"
                        quality_rating: GREEN
                        verified_name: Jasper's Market
                      - display_phone_number: +1 631-555-5556
                        id: "1913623884432103"
                        quality_rating: NA
                        verified_name: Jasper's Ice Cream
              examples:
                Get Phone Number ID:
                  value:
                    data:
                      - display_phone_number: +1 631-555-5555
                        id: "1906385232743451"
                        quality_rating: GREEN
                        verified_name: Jasper's Market
                      - display_phone_number: +1 631-555-5556
                        id: "1913623884432103"
                        quality_rating: NA
                        verified_name: Jasper's Ice Cream
                Get Phone Numbers:
                  value:
                    data:
                      - display_phone_number: +1 631-555-5555
                        id: "1906385232743451"
                        quality_rating: GREEN
                        verified_name: Jasper's Market
                      - display_phone_number: +1 631-555-5556
                        id: "1913623884432103"
                        quality_rating: NA
                        verified_name: Jasper's Ice Cream
    parameters:
      - name: Version
        in: path
        required: true
        schema:
          type: string
      - name: WABA-ID
        in: path
        required: true
        schema:
          type: string
  /{Version}/{Phone-Number-ID}/register:
    post:
      tags:
        - OnPrem Account Migration
      summary: Register Phone Number
      description: |-
        With your phone number’s ID in hand, you can register it. In the registration API call, you perform two actions at the same time:

        1.  Register the phone.
        2.  Enable [two-step verification](https://faq.whatsapp.com/general/verification/about-two-step-verification) by setting a 6-digit registration code — you must set this code on your end. Save and memorize this code as it can be requested later. **Setting up two-factor authentication is a requirement to use the Cloud API.**
            

        **Embedded Signup Users**

        A phone number **must** be registered within 14 days after going through the Embedded Signup flow. If the phone number is not registered during that window, the phone number must go through the Embedded Signup flow again prior to registration.
      operationId: registerPhoneNumber
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                backup:
                  type: object
                  properties:
                    data:
                      type: string
                      example: BACKUP_DATA
                    password:
                      type: string
                      example: P455w0rd##
                messaging_product:
                  type: string
                  example: whatsapp
                pin:
                  type: string
                  example: "123678"
            examples:
              Migrate Account:
                value:
                  backup:
                    data: BACKUP_DATA
                    password: P455w0rd##
                  messaging_product: whatsapp
                  pin: "123678"
              Register Phone:
                value:
                  messaging_product: whatsapp
                  pin: "123456"
              Register Phone Number:
                value:
                  messaging_product: whatsapp
                  pin: 6-digit-pin
      responses:
        "200":
          description: Register Phone Number / Register Phone / Migrate Account
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    example: "true"
                    anyOf:
                      - type: string
                        example: "true"
                      - type: boolean
                        example: true
                      - type: string
                        example: "true"
              examples:
                Migrate Account:
                  value:
                    success: "true"
                Register Phone:
                  value:
                    success: true
                Register Phone Number:
                  value:
                    success: "true"
    parameters:
      - name: Version
        in: path
        required: true
        schema:
          type: string
      - name: Phone-Number-ID
        in: path
        required: true
        schema:
          type: string
  /{Version}/{Phone-Number-ID}/messages:
    put:
      tags:
        - Messages
      summary: Mark Message As Read
      description: |-
        When you receive an incoming message from Webhooks, you could use messages endpoint to change the status of it to read.  
        We recommend marking incoming messages as read within 30 days of receipt.  
        **Note**: you cannot mark outgoing messages you sent as read.

        You need to obtain the **`message_id`** of the incoming message from Webhooks.

        For a more in depth guide for marking messages as read, see [Guide: Mark Messages as Read](https://developers.facebook.com/docs/whatsapp/cloud-api/guides/mark-message-as-read).
      operationId: markMessageAsRead
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                message_id:
                  type: string
                  example: wamid.234123
                messaging_product:
                  type: string
                  example: whatsapp
                status:
                  type: string
                  example: read
            examples:
              Mark Message As Read:
                value:
                  message_id: wamid.234123
                  messaging_product: whatsapp
                  status: read
      responses:
        "200":
          description: Mark Message As Read
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
              examples:
                Mark Message As Read:
                  value:
                    success: true
    post:
      tags:
        - Examples
      summary: Send Test Message
      description: Send Test Message
      operationId: sendTestMessage
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                messaging_product:
                  type: string
                  example: whatsapp
                template:
                  type: object
                  properties:
                    components:
                      type: array
                      items:
                        type: object
                        properties:
                          index:
                            type: number
                            example: 0
                          parameters:
                            type: array
                            items:
                              type: object
                              properties:
                                text:
                                  type: string
                                  example: "*Mr. Jones*"
                                type:
                                  type: string
                                  example: text
                            example:
                              - text: "*Mr. Jones*"
                                type: text
                          sub_type:
                            type: string
                            example: quick_reply
                          type:
                            type: string
                            example: body
                      example:
                        - parameters:
                            - text: "*Mr. Jones*"
                              type: text
                          type: body
                        - index: 0
                          parameters:
                            - text: Yes
                              type: text
                          sub_type: quick_reply
                          type: button
                        - index: 1
                          parameters:
                            - text: No
                              type: text
                          sub_type: quick_reply
                          type: button
                    language:
                      type: object
                      properties:
                        code:
                          type: string
                          example: en_US
                        policy:
                          type: string
                          example: deterministic
                    name:
                      type: string
                      example: sample_issue_resolution
                to:
                  type: string
                  example: "{{Recipient-Phone-Number}}"
                type:
                  type: string
                  example: template
            examples:
              Send Audio Message by ID:
                value:
                  audio:
                    id: <AUDIO_OBJECT_ID>
                    voice: true
                  messaging_product: whatsapp
                  recipient_type: individual
                  to: "{{Recipient-Phone-Number}}"
                  type: audio
              Send Audio Message by URL:
                value:
                  audio:
                    link: <http(s)://audio-url>
                    voice: true
                  messaging_product: whatsapp
                  recipient_type: individual
                  to: "{{Recipient-Phone-Number}}"
                  type: audio
              Send Catalog Message:
                value:
                  interactive:
                    action:
                      name: catalog_message
                      parameters:
                        thumbnail_product_retailer_id: 2lc20305pt
                    body:
                      text: Hello! Thanks for your interest. Ordering is easy. Just visit our catalog
                        and add items to purchase.
                    footer:
                      text: Best grocery deals on WhatsApp!
                    type: catalog_message
                  messaging_product: whatsapp
                  recipient_type: individual
                  to: "+16505551234"
                  type: interactive
              Send Catalog Template Message:
                value:
                  messaging_product: whatsapp
                  recipient_type: individual
                  template:
                    components:
                      - parameters:
                          - text: "100"
                            type: text
                          - text: "400"
                            type: text
                          - text: "3"
                            type: text
                        type: body
                      - index: 0
                        parameters:
                          - action:
                              thumbnail_product_retailer_id: 2lc20305pt
                            type: action
                        sub_type: CATALOG
                        type: button
                    language:
                      code: en_US
                    name: intro_catalog_offer
                  to: "+16505551234"
                  type: template
              Send Contact Message:
                value:
                  contacts:
                    - addresses:
                        - city: Menlo Park
                          country: United States
                          country_code: us
                          state: CA
                          street: 1 Hacker Way
                          type: HOME
                          zip: "94025"
                        - city: Menlo Park
                          country: United States
                          country_code: us
                          state: CA
                          street: 200 Jefferson Dr
                          type: WORK
                          zip: "94025"
                      birthday: 2012-08-18
                      emails:
                        - email: test@fb.com
                          type: WORK
                        - email: test@whatsapp.com
                          type: HOME
                      name:
                        first_name: John
                        formatted_name: John Smith
                        last_name: Smith
                        middle_name: D.
                        prefix: Dr
                        suffix: Jr
                      org:
                        company: WhatsApp
                        department: Design
                        title: Manager
                      phones:
                        - phone: +1 (940) 555-1234
                          type: HOME
                        - phone: +1 (650) 555-1234
                          type: WORK
                          wa_id: "16505551234"
                      urls:
                        - type: WORK
                          url: https://www.facebook.com
                        - type: HOME
                          url: https://www.whatsapp.com
                  messaging_product: whatsapp
                  to: "{{Recipient-Phone-Number}}"
                  type: contacts
              Send Document Message by ID:
                value:
                  document:
                    caption: <DOCUMENT_CAPTION_TO_SEND>
                    filename: <DOCUMENT_FILENAME>
                    id: <DOCUMENT_OBJECT_ID>
                  messaging_product: whatsapp
                  recipient_type: individual
                  to: "{{Recipient-Phone-Number}}"
                  type: document
              Send Document Message by URL:
                value:
                  document:
                    caption: <DOCUMENT-CAPTION-TEXT>
                    link: <http(s)://document-url>
                  messaging_product: whatsapp
                  recipient_type: individual
                  to: "{{Recipient-Phone-Number}}"
                  type: document
              Send Draft Flow by ID:
                value:
                  interactive:
                    action:
                      name: flow
                      parameters:
                        flow_action: navigate
                        flow_action_payload:
                          data:
                            <CUSTOM_KEY>: <CUSTOM_VALUE>
                          screen: <SCREEN_ID>
                        flow_cta: Not shown in draft mode
                        flow_id: "{{Flow-ID}}"
                        flow_message_version: "3"
                        flow_token: <FLOW_TOKEN>
                        mode: draft
                    body:
                      text: Not shown in draft mode
                    footer:
                      text: Not shown in draft mode
                    header:
                      text: Not shown in draft mode
                      type: text
                    type: flow
                  messaging_product: whatsapp
                  recipient_type: individual
                  to: "{{Recipient-Phone-Number}}"
                  type: interactive
              Send Draft Flow by Name:
                value:
                  interactive:
                    action:
                      name: flow
                      parameters:
                        flow_action: navigate
                        flow_action_payload:
                          data:
                            <CUSTOM_KEY>: <CUSTOM_VALUE>
                          screen: <SCREEN_ID>
                        flow_cta: Not shown in draft mode
                        flow_message_version: "3"
                        flow_name: "{{Flow-Name}}"
                        flow_token: <FLOW_TOKEN>
                        mode: draft
                    body:
                      text: Not shown in draft mode
                    footer:
                      text: Not shown in draft mode
                    header:
                      text: Not shown in draft mode
                      type: text
                    type: flow
                  messaging_product: whatsapp
                  recipient_type: individual
                  to: "{{Recipient-Phone-Number}}"
                  type: interactive
              Send Flow Template Message:
                value:
                  messaging_product: whatsapp
                  template:
                    components:
                      - index: "0"
                        parameters:
                          - action:
                              flow_action_data:
                                <CUSTOM_KEY>: <CUSTOM_VALUE>
                              flow_token: <FLOW_TOKEN>
                            type: action
                        sub_type: flow
                        type: button
                    language:
                      code: en_US
                    name: <TEMPLATE_NAME>
                  to: "{{Recipient-Phone-Number}}"
                  type: template
              Send Image Message by ID:
                value:
                  image:
                    id: <IMAGE_OBJECT_ID>
                  messaging_product: whatsapp
                  recipient_type: individual
                  to: "{{Recipient-Phone-Number}}"
                  type: image
              Send Image Message by URL:
                value:
                  image:
                    link: http(s)://image-url
                  messaging_product: whatsapp
                  recipient_type: individual
                  to: "{{Recipient-Phone-Number}}"
                  type: image
              Send List Message:
                value:
                  interactive:
                    action:
                      button: <BUTTON_TEXT>
                      sections:
                        - rows:
                            - description: <SECTION_1_ROW_1_DESC>
                              id: <LIST_SECTION_1_ROW_1_ID>
                              title: <SECTION_1_ROW_1_TITLE>
                            - description: <SECTION_1_ROW_2_DESC>
                              id: <LIST_SECTION_1_ROW_2_ID>
                              title: <SECTION_1_ROW_2_TITLE>
                          title: <LIST_SECTION_1_TITLE>
                        - rows:
                            - description: <SECTION_2_ROW_1_DESC>
                              id: <LIST_SECTION_2_ROW_1_ID>
                              title: <SECTION_2_ROW_1_TITLE>
                            - description: <SECTION_2_ROW_2_DESC>
                              id: <LIST_SECTION_2_ROW_2_ID>
                              title: <SECTION_2_ROW_2_TITLE>
                          title: <LIST_SECTION_2_TITLE>
                    body:
                      text: <BODY_TEXT>
                    footer:
                      text: <FOOTER_TEXT>
                    header:
                      text: <HEADER_TEXT>
                      type: text
                    type: list
                  messaging_product: whatsapp
                  recipient_type: individual
                  to: "{{Recipient-Phone-Number}}"
                  type: interactive
              Send Location Message:
                value:
                  location:
                    address: 1 Hacker Way, Menlo Park, CA 94025
                    latitude: 37.758056
                    longitude: -122.425332
                    name: META HQ
                  messaging_product: whatsapp
                  recipient_type: individual
                  to: "{{Recipient-Phone-Number}}"
                  type: location
              Send Message Template Interactive:
                value:
                  messaging_product: whatsapp
                  recipient_type: individual
                  template:
                    components:
                      - parameters:
                          - image:
                              link: http(s)://the-image-url
                            type: image
                        type: header
                      - parameters:
                          - text: text-string
                            type: text
                          - currency:
                              amount_1000: 100990
                              code: USD
                              fallback_value: $100.99
                            type: currency
                          - date_time:
                              calendar: GREGORIAN
                              day_of_month: 25
                              day_of_week: 5
                              fallback_value: February 25, 1977
                              hour: 15
                              minute: 33
                              month: 2
                              year: 1977
                            type: date_time
                        type: body
                      - index: "0"
                        parameters:
                          - payload: aGlzIHRoaXMgaXMgY29v
                            type: payload
                        sub_type: quick_reply
                        type: button
                      - index: "1"
                        parameters:
                          - payload: 9rwnB8RbYmPF5t2Mn09x4h
                            type: payload
                        sub_type: quick_reply
                        type: button
                    language:
                      code: language-and-locale-code
                    name: template-name
                  to: "{{Recipient-Phone-Number}}"
                  type: template
              Send Message Template Media:
                value:
                  messaging_product: whatsapp
                  recipient_type: individual
                  template:
                    components:
                      - parameters:
                          - image:
                              link: http(s)://the-image-url
                            type: image
                        type: header
                      - parameters:
                          - text: text-string
                            type: text
                          - currency:
                              amount_1000: 100990
                              code: USD
                              fallback_value: $100.99
                            type: currency
                          - date_time:
                              calendar: GREGORIAN
                              day_of_month: 25
                              day_of_week: 5
                              fallback_value: February 25, 1977
                              hour: 15
                              minute: 33
                              month: 2
                              year: 1977
                            type: date_time
                        type: body
                    language:
                      code: language-and-locale-code
                    name: template-name
                  to: "{{Recipient-Phone-Number}}"
                  type: template
              Send Message Template Text:
                value:
                  messaging_product: whatsapp
                  recipient_type: individual
                  template:
                    components:
                      - parameters:
                          - text: text-string
                            type: text
                          - currency:
                              amount_1000: 100990
                              code: USD
                              fallback_value: $100.99
                            type: currency
                          - date_time:
                              calendar: GREGORIAN
                              day_of_month: 25
                              day_of_week: 5
                              fallback_value: February 25, 1977
                              hour: 15
                              minute: 33
                              month: 2
                              year: 1977
                            type: date_time
                        type: body
                    language:
                      code: language-and-locale-code
                    name: template-name
                  to: "{{Recipient-Phone-Number}}"
                  type: template
              Send Multi-Product Message:
                value:
                  interactive:
                    action:
                      catalog_id: "146265584024623"
                      sections:
                        - product_items:
                            - product_retailer_id: <YOUR_PRODUCT1_SKU_IN_CATALOG>
                            - product_retailer_id: <YOUR_SECOND_PRODUCT1_SKU_IN_CATALOG>
                          title: <SECTION1_TITLE>
                        - product_items:
                            - product_retailer_id: <YOUR_PRODUCT2_SKU_IN_CATALOG>
                            - product_retailer_id: <YOUR_SECOND_PRODUCT2_SKU_IN_CATALOG>
                          title: <SECTION2_TITLE>
                    body:
                      text: <YOUR_TEXT_BODY_CONTENT>
                    footer:
                      text: <YOUR_TEXT_FOOTER_CONTENT>
                    header:
                      text: <YOUR_TEXT_HEADER_CONTENT>
                      type: <HEADER_TYPE>
                    type: product_list
                  messaging_product: whatsapp
                  recipient_type: individual
                  to: "{{Recipient-Phone-Number}}"
                  type: interactive
              Send Order Details Message:
                value:
                  interactive:
                    action:
                      name: review_and_pay
                      parameters:
                        currency: INR
                        order:
                          discount:
                            description: optional_text
                            discount_program_name: optional_text
                            offset: 100
                            value: 100
                          items:
                            - amount:
                                offset: 100
                                value: 1500
                              name: bread
                              quantity: 1
                              retailer_id: "1234567"
                              sale_amount:
                                offset: 100
                                value: 1000
                          shipping:
                            description: optional_text
                            offset: 100
                            value: 100
                          status: pending
                          subtotal:
                            offset: 100
                            value: 1000
                          tax:
                            description: optional_text
                            offset: 100
                            value: 100
                        payment_configuration: my-payment-config-name
                        payment_type: upi
                        reference_id: unique-reference-id
                        total_amount:
                          offset: 100
                          value: 1100
                        type: digital-goods
                    body:
                      text: your-text-body-content
                    footer:
                      text: your-text-footer-content
                    header:
                      image:
                        link: https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Home_made_sour_dough_bread.jpg/640px-Home_made_sour_dough_bread.jpg
                      type: image
                    type: order_details
                  messaging_product: whatsapp
                  recipient_type: individual
                  to: "{{Recipient-WA-Phone-Number}}"
                  type: interactive
              Send Order Status Message:
                value:
                  interactive:
                    action:
                      name: review_order
                      parameters:
                        order:
                          description: optional-text
                          status: processing
                        reference_id: unique-reference-id-from-order-details-msg
                    body:
                      text: your-text-body-content
                    type: order_status
                  messaging_product: whatsapp
                  recipient_type: individual
                  to: "{{Recipient-WA-Phone-Number}}"
                  type: interactive
              Send Published Flow by ID:
                value:
                  interactive:
                    action:
                      name: flow
                      parameters:
                        flow_action: navigate
                        flow_action_payload:
                          data:
                            <CUSTOM_KEY>: <CUSTOM_VALUE>
                          screen: <SCREEN_ID>
                        flow_cta: Open Flow!
                        flow_id: "{{Flow-ID}}"
                        flow_message_version: "3"
                        flow_token: <FLOW_TOKEN>
                    body:
                      text: <BODY_TEXT>
                    footer:
                      text: <FOOTER_TEXT>
                    header:
                      text: <HEADER_TEXT>
                      type: text
                    type: flow
                  messaging_product: whatsapp
                  recipient_type: individual
                  to: "{{Recipient-Phone-Number}}"
                  type: interactive
              Send Published Flow by Name:
                value:
                  interactive:
                    action:
                      name: flow
                      parameters:
                        flow_action: navigate
                        flow_action_payload:
                          data:
                            <CUSTOM_KEY>: <CUSTOM_VALUE>
                          screen: <SCREEN_ID>
                        flow_cta: Open Flow!
                        flow_message_version: "3"
                        flow_name: "{{Flow-Name}}"
                        flow_token: <FLOW_TOKEN>
                    body:
                      text: <BODY_TEXT>
                    footer:
                      text: <FOOTER_TEXT>
                    header:
                      text: <HEADER_TEXT>
                      type: text
                    type: flow
                  messaging_product: whatsapp
                  recipient_type: individual
                  to: "{{Recipient-Phone-Number}}"
                  type: interactive
              Send Reply Button:
                value:
                  interactive:
                    action:
                      buttons:
                        - reply:
                            id: <UNIQUE_BUTTON_ID_1>
                            title: <BUTTON_TITLE_1>
                          type: reply
                        - reply:
                            id: <UNIQUE_BUTTON_ID_2>
                            title: <BUTTON_TITLE_2>
                          type: reply
                    body:
                      text: <BUTTON_TEXT>
                    type: button
                  messaging_product: whatsapp
                  recipient_type: individual
                  to: "{{Recipient-Phone-Number}}"
                  type: interactive
              Send Reply to Audio Message by ID:
                value:
                  audio:
                    id: <AUDIO_OBJECT_ID>
                    voice: true
                  context:
                    message_id: <MSGID_OF_MSG_YOU_ARE_REPLYING_TO>
                  messaging_product: whatsapp
                  recipient_type: individual
                  to: "{{Recipient-Phone-Number}}"
                  type: audio
              Send Reply to Audio Message by URL:
                value:
                  audio:
                    link: http(s)://audio-url
                    voice: true
                  context:
                    message_id: <MSGID_OF_MSG_YOU_ARE_REPLYING_TO>
                  messaging_product: whatsapp
                  recipient_type: individual
                  to: "{{Recipient-Phone-Number}}"
                  type: audio
              Send Reply to Contact Message:
                value:
                  contacts:
                    - addresses:
                        - city: Menlo Park
                          country: United States
                          country_code: us
                          state: CA
                          street: 1 Hacker Way
                          type: HOME
                          zip: "94025"
                        - city: Menlo Park
                          country: United States
                          country_code: us
                          state: CA
                          street: 200 Jefferson Dr
                          type: WORK
                          zip: "94025"
                      birthday: 2012-08-18
                      emails:
                        - email: test@fb.com
                          type: WORK
                        - email: test@whatsapp.com
                          type: HOME
                      name:
                        first_name: John
                        formatted_name: John Smith
                        last_name: Smith
                        middle_name: D.
                        prefix: Dr
                        suffix: Jr
                      org:
                        company: WhatsApp
                        department: Design
                        title: Manager
                      phones:
                        - phone: +1 (940) 555-1234
                          type: HOME
                        - phone: +1 (650) 555-1234
                          type: WORK
                          wa_id: "16505551234"
                      urls:
                        - type: WORK
                          url: https://www.facebook.com
                        - type: HOME
                          url: https://www.whatsapp.com
                  context:
                    message_id: <MSGID_OF_PREV_MSG>
                  messaging_product: whatsapp
                  to: "{{Recipient-Phone-Number}}"
                  type: contacts
              Send Reply to Document Message by ID:
                value:
                  context:
                    message_id: <MSGID_OF_MSG_YOU_ARE_REPLYING_TO>
                  document:
                    caption: <DOCUMENT_CAPTION_TO_SEND>
                    filename: <DOCUMENT_FILENAME>
                    id: <DOCUMENT_OBJECT_ID>
                  messaging_product: whatsapp
                  recipient_type: individual
                  to: "{{Recipient-Phone-Number}}"
                  type: document
              Send Reply to Document Message by URL:
                value:
                  context:
                    message_id: <MSGID_OF_MSG_YOU_ARE_REPLYING_TO>
                  document:
                    caption: <DOCUMENT_CAPTION_TEXT>
                    link: <http(s)://document-url>
                  messaging_product: whatsapp
                  recipient_type: individual
                  to: "{{Recipient-Phone-Number}}"
                  type: document
              Send Reply to Image Message by ID:
                value:
                  context:
                    message_id: <MSGID_OF_PREV_MSG>
                  image:
                    id: <IMAGE_OBJECT_ID>
                  messaging_product: whatsapp
                  recipient_type: individual
                  to: "{{Recipient-Phone-Number}}"
                  type: image
              Send Reply to Image Message by URL:
                value:
                  context:
                    message_id: <MSGID_OF_PREV_MSG>
                  image:
                    link: http(s)://image-url
                  messaging_product: whatsapp
                  recipient_type: individual
                  to: "{{Recipient-Phone-Number}}"
                  type: image
              Send Reply to List Message:
                value:
                  context:
                    message_id: <MSGID_OF_PREV_MSG>
                  interactive:
                    action:
                      button: <BUTTON_TEXT>
                      sections:
                        - rows:
                            - description: <SECTION_1_ROW_1_DESC>
                              id: <LIST_SECTION_1_ROW_1_ID>
                              title: <SECTION_1_ROW_1_TITLE>
                            - description: <SECTION_1_ROW_2_DESC>
                              id: <LIST_SECTION_1_ROW_2_ID>
                              title: <SECTION_1_ROW_2_TITLE>
                          title: <LIST_SECTION_1_TITLE>
                        - rows:
                            - description: <SECTION_2_ROW_1_DESC>
                              id: <LIST_SECTION_2_ROW_1_ID>
                              title: <SECTION_2_ROW_1_TITLE>
                            - description: <SECTION_2_ROW_2_DESC>
                              id: <LIST_SECTION_2_ROW_2_ID>
                              title: <SECTION_2_ROW_2_TITLE>
                          title: <LIST_SECTION_2_TITLE>
                    body:
                      text: <BODY_TEXT>
                    footer:
                      text: <FOOTER_TEXT>
                    header:
                      text: <HEADER_TEXT>
                      type: text
                    type: list
                  messaging_product: whatsapp
                  recipient_type: individual
                  to: "{{Recipient-Phone-Number}}"
              Send Reply to Location Message:
                value:
                  context:
                    message_id: <MSGID_OF_PREV_MSG>
                  location:
                    address: 1 Hacker Way, Menlo Park, CA 94025
                    latitude: 37.758056
                    longitude: -122.425332
                    name: META HQ
                  messaging_product: whatsapp
                  recipient_type: individual
                  to: "{{Recipient-Phone-Number}}"
                  type: location
              Send Reply to Sticker Message by ID:
                value:
                  context:
                    message_id: <MSGID_OF_MSG_YOU_ARE_REPLYING_TO>
                  messaging_product: whatsapp
                  recipient_type: individual
                  sticker:
                    id: <MEDIA_OBJECT_ID>
                  to: "{{Recipient-Phone-Number}}"
                  type: sticker
              Send Reply to Sticker Message by URL:
                value:
                  context:
                    message_id: <MSGID_OF_MSG_YOU_ARE_REPLYING_TO>
                  messaging_product: whatsapp
                  recipient_type: individual
                  sticker:
                    link: <http(s)://sticker-url>
                  to: "{{Recipient-Phone-Number}}"
                  type: sticker
              Send Reply to Text Message:
                value:
                  context:
                    message_id: <MSGID_OF_PREV_MSG>
                  messaging_product: whatsapp
                  recipient_type: individual
                  text:
                    body: <TEXT_MSG_CONTENT>
                    preview_url: false
                  to: "{{Recipient-Phone-Number}}"
                  type: text
              Send Reply to Video Message by ID:
                value:
                  context:
                    message_id: <MSGID_OF_MSG_YOU_ARE_REPLYING_TO>
                  messaging_product: whatsapp
                  recipient_type: individual
                  to: "{{Recipient-Phone-Number}}"
                  type: video
                  video:
                    caption: <VIDEO_CAPTION_TEXT>
                    id: <VIDEO_OBJECT_ID>
              Send Reply to Video Message by URL:
                value:
                  context:
                    message_id: <MSGID_OF_MSG_YOU_ARE_REPLYING_TO>
                  messaging_product: whatsapp
                  recipient_type: individual
                  to: "{{Recipient-Phone-Number}}"
                  type: video
                  video:
                    caption: <VIDEO_CAPTION_TEXT>
                    link: <http(s)://video-url>
              Send Reply with Reaction Message:
                value:
                  messaging_product: whatsapp
                  reaction:
                    emoji: 😀
                    message_id: wamid.HBgLM...
                  recipient_type: individual
                  to: "{{Recipient-Phone-Number}}"
                  type: reaction
              Send Sample Issue Resolution Template:
                value:
                  messaging_product: whatsapp
                  template:
                    components:
                      - parameters:
                          - text: "*Mr. Jones*"
                            type: text
                        type: body
                      - index: 0
                        parameters:
                          - text: Yes
                            type: text
                        sub_type: quick_reply
                        type: button
                      - index: 1
                        parameters:
                          - text: No
                            type: text
                        sub_type: quick_reply
                        type: button
                    language:
                      code: en_US
                      policy: deterministic
                    name: sample_issue_resolution
                  to: "{{Recipient-Phone-Number}}"
                  type: template
              Send Sample Shipping Confirmation Template:
                value:
                  messaging_product: whatsapp
                  recipient_type: individual
                  template:
                    components:
                      - parameters:
                          - text: text-string
                            type: text
                          - currency:
                              amount_1000: 100990
                              code: USD
                              fallback_value: $100.99
                            type: currency
                          - date_time:
                              calendar: GREGORIAN
                              day_of_month: 25
                              day_of_week: 5
                              fallback_value: February 25, 1977
                              hour: 15
                              minute: 33
                              month: 2
                              year: 1977
                            type: date_time
                        type: body
                    language:
                      code: language-and-locale-code
                    name: template-name
                  to: "16315555555"
                  type: template
              Send Sample Text Message:
                value:
                  messaging_product: whatsapp
                  recipient_type: individual
                  template:
                    components:
                      - parameters:
                          - text: text-string
                            type: text
                          - currency:
                              amount_1000: 100990
                              code: USD
                              fallback_value: $100.99
                            type: currency
                          - date_time:
                              calendar: GREGORIAN
                              day_of_month: 25
                              day_of_week: 5
                              fallback_value: February 25, 1977
                              hour: 15
                              minute: 33
                              month: 2
                              year: 1977
                            type: date_time
                        type: body
                    language:
                      code: language-and-locale-code
                    name: template-name
                  to: "16315555555"
                  type: template
              Send Single Product Message:
                value:
                  interactive:
                    action:
                      catalog_id: "367025965434465"
                      product_retailer_id: <ID_TEST_ITEM_1>
                    body:
                      text: <OPTIONAL_BODY_TEXT>
                    footer:
                      text: <OPTIONAL_FOOTER_TEXT>
                    type: product
                  messaging_product: whatsapp
                  recipient_type: individual
                  to: "{{Recipient-Phone-Number}}"
                  type: interactive
              Send Sticker Message by ID:
                value:
                  messaging_product: whatsapp
                  recipient_type: individual
                  sticker:
                    id: <MEDIA_OBJECT_ID>
                  to: "{{Recipient-Phone-Number}}"
                  type: sticker
              Send Sticker Message by URL:
                value:
                  messaging_product: whatsapp
                  recipient_type: individual
                  sticker:
                    link: <http(s)://sticker-url>
                  to: "{{Recipient-Phone-Number}}"
                  type: sticker
              Send Test Message:
                value:
                  messaging_product: whatsapp
                  template:
                    language:
                      code: en_US
                    name: hello_world
                  to: "{{Recipient-Phone-Number}}"
                  type: template
              Send Text Message:
                value:
                  messaging_product: whatsapp
                  recipient_type: individual
                  text:
                    body: text-message-content
                    preview_url: false
                  to: "{{Recipient-Phone-Number}}"
                  type: text
              Send Text Message with Preview URL:
                value:
                  messaging_product: whatsapp
                  text:
                    body: Please visit https://youtu.be/hpltvTEiRrY.
                    preview_url: true
                  to: "{{Recipient-Phone-Number}}"
              Send Video Message by ID:
                value:
                  messaging_product: whatsapp
                  recipient_type: individual
                  to: "{{Recipient-Phone-Number}}"
                  type: video
                  video:
                    caption: <VIDEO_CAPTION_TEXT>
                    id: <VIDEO_OBJECT_ID>
              Send Video Message by URL:
                value:
                  messaging_product: whatsapp
                  recipient_type: individual
                  to: "{{Recipient-Phone-Number}}"
                  type: video
                  video:
                    caption: <VIDEO_CAPTION_TEXT>
                    link: <http(s)://video-url>
              Send typing indicator and read receipt:
                value:
                  message_id: wamid.HBgLMTY1MDM4Nzk0MzkVAgASGBQzQUYzMjEzNDM2RTZGQ0MzMDJBRgA=
                  messaging_product: whatsapp
                  status: read
                  typing_indicator:
                    type: text
      responses:
        "200":
          description: Send Test Message / Send Text Message / Send Reply to Text Message
            / Send Reply with Reaction Message / Send Image Message by ID / Send
            Reply to Image Message by ID / Send Image Message by URL / Send
            Reply to Image Message by URL / Send Audio Message by ID / Send
            Reply to Audio Message by ID / Send Audio Message By URL / Send
            Reply to Audio Message by URL / Send Document Message by ID / Send
            Reply to Document Message by ID / Send Document Message by URL /
            Send Reply to Document Message by URL / Send Sticker Message By ID /
            Send Reply to Sticker Message by ID / Send Sticker Message By URL /
            Send Reply to Sticker Message by URL / Send Video Message By ID /
            Send Reply to Video Message by ID / Send Video Message By URL / Send
            Reply to Video Message by URL / Send Contact Message / Send Reply to
            Contact Message / Send Location Messages / Send Reply to Location
            Message / Send Message Template Text / Send Message Template Media /
            Send Interactive Message Template / Send List Message / Send Reply
            to List Message / Send Reply Button / Send Single Product Message /
            Example response / Example response / Send Draft Flow by Name / Send
            Draft Flow by ID / Send Published Flow by Name / Send Published Flow
            by ID / Send Flow Template Message / Send typing indicator and read
            receipt / Send Sample Text message / Send Sample Shipping
            Confirmation Template / Send Sample Issue Resolution Template
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: "*"
            Alt-Svc:
              schema:
                type: string
                example: h3=":443"; ma=86400
            Cache-Control:
              schema:
                type: string
                example: private, no-cache, no-store, must-revalidate
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: "16"
            Date:
              schema:
                type: string
                example: Wed, 21 May 2025 17:38:00 GMT
            Expires:
              schema:
                type: string
                example: Sat, 01 Jan 2000 00:00:00 GMT
            Pragma:
              schema:
                type: string
                example: no-cache
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15552000; preload
            Vary:
              schema:
                type: string
                example: Origin
            X-FB-Connection-Quality:
              schema:
                type: string
                example: EXCELLENT; q=0.9, rtt=7, rtx=0, c=10, mss=1380, tbw=3403, tp=-1,
                  tpl=-1, uplat=552, ullat=0
            X-FB-Debug:
              schema:
                type: string
                example: lv4tuvFRJpqMrYs/DgGn3j5JDX8U1npjw9IK3Wq4ZK9SBhiBtL99ztZj5d/YLhsgoaBRNR0/FKJ1swL3oLYvMg==
            facebook-api-version:
              schema:
                type: string
                example: v22.0
            x-business-use-case-usage:
              schema:
                type: string
                example: '{"102290129340398":[{"type":"whatsapp","call_count":0,"total_cputime":0,"total_time":0,"estimated_time_to_regain_access":0}]}'
            x-fb-request-id:
              schema:
                type: string
                example: A_xHw226CwK1JmTNs0vg6H7
            x-fb-rev:
              schema:
                type: string
                example: "1023054691"
            x-fb-trace-id:
              schema:
                type: string
                example: HI+8wJKxeVw
          content:
            application/json:
              schema:
                type: object
                properties:
                  contacts:
                    type: array
                    items:
                      type: object
                      properties:
                        input:
                          type: string
                          example: 48XXXXXXXXX
                        wa_id:
                          type: string
                          example: "48XXXXXXXXX "
                    example:
                      - input: 48XXXXXXXXX
                        wa_id: "48XXXXXXXXX "
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww
                    example:
                      - id: wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww
                  messaging_product:
                    type: string
                    example: whatsapp
                  success:
                    type: boolean
                    example: true
              examples:
                Example response:
                  value:
                    contacts:
                      - input: "+16505551234"
                        wa_id: "16505551234"
                    messages:
                      - id: wamid.HBgLMTY1MDM4Nzk0MzkVAgARGBJCOTY3NDc0NDFDRUI3NTA0Q0UA
                    messaging_product: whatsapp
                Send Audio Message By URL:
                  value:
                    contacts:
                      - input: 48XXXXXXXXX
                        wa_id: "48XXXXXXXXX "
                    messages:
                      - id: wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww
                    messaging_product: whatsapp
                Send Audio Message by ID:
                  value:
                    contacts:
                      - input: 48XXXXXXXXX
                        wa_id: "48XXXXXXXXX "
                    messages:
                      - id: wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww
                    messaging_product: whatsapp
                Send Contact Message:
                  value:
                    contacts:
                      - input: 48XXXXXXXXX
                        wa_id: "48XXXXXXXXX "
                    messages:
                      - id: wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww
                    messaging_product: whatsapp
                Send Document Message by ID:
                  value:
                    contacts:
                      - input: 48XXXXXXXXX
                        wa_id: "48XXXXXXXXX "
                    messages:
                      - id: wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww
                    messaging_product: whatsapp
                Send Document Message by URL:
                  value:
                    contacts:
                      - input: 48XXXXXXXXX
                        wa_id: "48XXXXXXXXX "
                    messages:
                      - id: wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww
                    messaging_product: whatsapp
                Send Draft Flow by ID:
                  value:
                    contacts:
                      - input: "18055555555"
                        wa_id: "18055555555"
                    messages:
                      - id: wamid.HBgL...
                    messaging_product: whatsapp
                Send Draft Flow by Name:
                  value:
                    contacts:
                      - input: "18055555555"
                        wa_id: "18055555555"
                    messages:
                      - id: wamid.HBgL...
                    messaging_product: whatsapp
                Send Flow Template Message:
                  value:
                    contacts:
                      - input: "18055555555"
                        wa_id: "18055555555"
                    messages:
                      - id: wamid.HBgL...
                    messaging_product: whatsapp
                Send Image Message by ID:
                  value:
                    contacts:
                      - input: 48XXXXXXXXX
                        wa_id: "48XXXXXXXXX "
                    messages:
                      - id: wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww
                    messaging_product: whatsapp
                Send Image Message by URL:
                  value:
                    contacts:
                      - input: 48XXXXXXXXX
                        wa_id: "48XXXXXXXXX "
                    messages:
                      - id: wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww
                    messaging_product: whatsapp
                Send Interactive Message Template:
                  value:
                    contacts:
                      - input: 48XXXXXXXXX
                        wa_id: "48XXXXXXXXX "
                    messages:
                      - id: wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww
                    messaging_product: whatsapp
                Send List Message:
                  value:
                    contacts:
                      - input: "15555551234"
                        wa_id: <WHATSAPP_ID>
                    messages:
                      - id: wamid.ID
                    messaging_product: whatsapp
                Send Location Messages:
                  value:
                    contacts:
                      - input: 48XXXXXXXXX
                        wa_id: "48XXXXXXXXX "
                    messages:
                      - id: wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww
                    messaging_product: whatsapp
                Send Message Template Media:
                  value:
                    contacts:
                      - input: 48XXXXXXXXX
                        wa_id: "48XXXXXXXXX "
                    messages:
                      - id: wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww
                    messaging_product: whatsapp
                Send Message Template Text:
                  value:
                    contacts:
                      - input: 48XXXXXXXXX
                        wa_id: "48XXXXXXXXX "
                    messages:
                      - id: wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww
                    messaging_product: whatsapp
                Send Published Flow by ID:
                  value:
                    contacts:
                      - input: "18055555555"
                        wa_id: "18055555555"
                    messages:
                      - id: wamid.HBgL...
                    messaging_product: whatsapp
                Send Published Flow by Name:
                  value:
                    contacts:
                      - input: "18055555555"
                        wa_id: "18055555555"
                    messages:
                      - id: wamid.HBgL...
                    messaging_product: whatsapp
                Send Reply Button:
                  value:
                    contacts:
                      - input: PHONE_NUMBER
                        wa_id: WHATSAPP_ID
                    messages:
                      - id: wamid.ID
                    messaging_product: whatsapp
                Send Reply to Audio Message by ID:
                  value:
                    contacts:
                      - input: 48XXXXXXXXX
                        wa_id: "48XXXXXXXXX "
                    messages:
                      - id: wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww
                    messaging_product: whatsapp
                Send Reply to Audio Message by URL:
                  value:
                    contacts:
                      - input: 48XXXXXXXXX
                        wa_id: "48XXXXXXXXX "
                    messages:
                      - id: wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww
                    messaging_product: whatsapp
                Send Reply to Contact Message:
                  value:
                    contacts:
                      - input: 48XXXXXXXXX
                        wa_id: "48XXXXXXXXX "
                    messages:
                      - id: wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww
                    messaging_product: whatsapp
                Send Reply to Document Message by ID:
                  value:
                    contacts:
                      - input: 48XXXXXXXXX
                        wa_id: "48XXXXXXXXX "
                    messages:
                      - id: wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww
                    messaging_product: whatsapp
                Send Reply to Document Message by URL:
                  value:
                    contacts:
                      - input: 48XXXXXXXXX
                        wa_id: "48XXXXXXXXX "
                    messages:
                      - id: wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww
                    messaging_product: whatsapp
                Send Reply to Image Message by ID:
                  value:
                    contacts:
                      - input: 48XXXXXXXXX
                        wa_id: "48XXXXXXXXX "
                    messages:
                      - id: wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww
                    messaging_product: whatsapp
                Send Reply to Image Message by URL:
                  value:
                    contacts:
                      - input: 48XXXXXXXXX
                        wa_id: "48XXXXXXXXX "
                    messages:
                      - id: wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww
                    messaging_product: whatsapp
                Send Reply to List Message:
                  value:
                    contacts:
                      - input: "15555551234"
                        wa_id: <WHATSAPP_ID>
                    messages:
                      - id: wamid.ID
                    messaging_product: whatsapp
                Send Reply to Location Message:
                  value:
                    contacts:
                      - input: 48XXXXXXXXX
                        wa_id: "48XXXXXXXXX "
                    messages:
                      - id: wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww
                    messaging_product: whatsapp
                Send Reply to Sticker Message by ID:
                  value:
                    contacts:
                      - input: 48XXXXXXXXX
                        wa_id: "48XXXXXXXXX "
                    messages:
                      - id: wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww
                    messaging_product: whatsapp
                Send Reply to Sticker Message by URL:
                  value:
                    contacts:
                      - input: 48XXXXXXXXX
                        wa_id: "48XXXXXXXXX "
                    messages:
                      - id: wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww
                    messaging_product: whatsapp
                Send Reply to Text Message:
                  value:
                    contacts:
                      - input: 48XXXXXXXXX
                        wa_id: "48XXXXXXXXX "
                    messages:
                      - id: wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww
                    messaging_product: whatsapp
                Send Reply to Video Message by ID:
                  value:
                    contacts:
                      - input: 48XXXXXXXXX
                        wa_id: "48XXXXXXXXX "
                    messages:
                      - id: wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww
                    messaging_product: whatsapp
                Send Reply to Video Message by URL:
                  value:
                    contacts:
                      - input: 48XXXXXXXXX
                        wa_id: "48XXXXXXXXX "
                    messages:
                      - id: wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww
                    messaging_product: whatsapp
                Send Reply with Reaction Message:
                  value:
                    contacts:
                      - input: <PHONE_NUMBER>
                        wa_id: <WHATSAPP_ID>
                    messages:
                      - id: wamid.HBgLM...
                    messaging_product: whatsapp
                Send Sample Shipping Confirmation Template:
                  value:
                    contacts:
                      - input: 48XXXXXXXXX
                        wa_id: "48XXXXXXXXX "
                    messages:
                      - id: wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww
                    messaging_product: whatsapp
                Send Sample Text message:
                  value:
                    contacts:
                      - input: 48XXXXXXXXX
                        wa_id: "48XXXXXXXXX "
                    messages:
                      - id: wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww
                    messaging_product: whatsapp
                Send Single Product Message:
                  value:
                    contacts:
                      - input: +1-631-555-5555
                        wa_id: "16315555555"
                    messages:
                      - id: wamid.gBGGFlaCGg0xcvAdgmZ9plHrf2Mh-o
                    messaging_product: whatsapp
                Send Sticker Message By ID:
                  value:
                    contacts:
                      - input: 48XXXXXXXXX
                        wa_id: "48XXXXXXXXX "
                    messages:
                      - id: wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww
                    messaging_product: whatsapp
                Send Sticker Message By URL:
                  value:
                    contacts:
                      - input: 48XXXXXXXXX
                        wa_id: "48XXXXXXXXX "
                    messages:
                      - id: wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww
                    messaging_product: whatsapp
                Send Test Message:
                  value:
                    contacts:
                      - input: 48XXXXXXXXX
                        wa_id: "48XXXXXXXXX "
                    messages:
                      - id: wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww
                    messaging_product: whatsapp
                Send Text Message:
                  value:
                    contacts:
                      - input: 48XXXXXXXXX
                        wa_id: "48XXXXXXXXX "
                    messages:
                      - id: wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww
                    messaging_product: whatsapp
                Send Video Message By ID:
                  value:
                    contacts:
                      - input: 48XXXXXXXXX
                        wa_id: "48XXXXXXXXX "
                    messages:
                      - id: wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww
                    messaging_product: whatsapp
                Send Video Message By URL:
                  value:
                    contacts:
                      - input: 48XXXXXXXXX
                        wa_id: "48XXXXXXXXX "
                    messages:
                      - id: wamid.gBGGSFcCNEOPAgkO_KJ55r4w_ww
                    messaging_product: whatsapp
                Send typing indicator and read receipt:
                  value:
                    success: true
    parameters:
      - name: Version
        in: path
        required: true
        schema:
          type: string
      - name: Phone-Number-ID
        in: path
        required: true
        schema:
          type: string
  /{Version}/debug_token:
    get:
      tags:
        - Get Started
      summary: Debug Access Token
      description: Debug Access Token
      operationId: debugAccessToken
      parameters:
        - name: input_token
          in: query
          schema:
            type: string
            example: "{{User-Access-Token}}"
      responses:
        "200":
          description: ""
    parameters:
      - name: Version
        in: path
        required: true
        schema:
          type: string
  /{Version}/{WABA-ID}:
    get:
      tags:
        - Analytics
      summary: Get WABA
      description: "- Endpoint reference: [WhatsApp Business
        Account](https://developers.facebook.com/docs/graph-api/reference/whats\
        -app-business-account)"
      operationId: getWaba
      parameters:
        - name: fields
          in: query
          schema:
            type: string
            example: message_template_namespace
      responses:
        "200":
          description: Example response / Example response / Example reponse / Example
            response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: "*"
            Alt-Svc:
              schema:
                type: string
                example: h3=":443"; ma=86400
            Cache-Control:
              schema:
                type: string
                example: private, no-cache, no-store, must-revalidate
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Length:
              schema:
                type: string
                example: "92"
            Date:
              schema:
                type: string
                example: Wed, 05 Apr 2023 18:51:08 GMT
            ETag:
              schema:
                type: string
                example: '"f3fe70e1e3b22c5aa9edd9d4430b0c5a9e78f68c"'
            Expires:
              schema:
                type: string
                example: Sat, 01 Jan 2000 00:00:00 GMT
            Pragma:
              schema:
                type: string
                example: no-cache
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15552000; preload
            Vary:
              schema:
                type: string
                example: Origin
            X-FB-Debug:
              schema:
                type: string
                example: jI6jeoezzMoKeb+HWbNzMiESQpSP/ZBpT0HLUdLgsaWMYrL0xDcINSox0i7lpqsiyoEsaQFngro4GtpMv+hpSw==
            facebook-api-version:
              schema:
                type: string
                example: v16.0
            x-business-use-case-usage:
              schema:
                type: string
                example: '{"102290129340398":[{"type":"whatsapp_business_management","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
            x-fb-request-id:
              schema:
                type: string
                example: Amez7b9yCp8MnTQlGbo0AnF
            x-fb-rev:
              schema:
                type: string
                example: "1007251231"
            x-fb-rlafr:
              schema:
                type: string
                example: "0"
            x-fb-trace-id:
              schema:
                type: string
                example: EB5kGHWA89K
          content:
            application/json:
              schema:
                type: object
                properties:
                  analytics:
                    type: object
                    properties:
                      country_codes:
                        type: array
                        items:
                          type: string
                          example: US
                        example:
                          - US
                          - BR
                      data_points:
                        type: array
                        items:
                          type: object
                          properties:
                            delivered:
                              type: number
                              example: 179715
                            end:
                              type: number
                              example: 1543629600
                            sent:
                              type: number
                              example: 196093
                            start:
                              type: number
                              example: 1543543200
                        example:
                          - delivered: 179715
                            end: 1543629600
                            sent: 196093
                            start: 1543543200
                          - delivered: 139032
                            end: 1543716000
                            sent: 147649
                            start: 1543629600
                          - delivered: 58830
                            end: 1543802400
                            sent: 61988
                            start: 1543716000
                          - delivered: 124392
                            end: 1543888800
                            sent: 132465
                            start: 1543802400
                          - delivered: 167335
                            end: 1543975200
                            sent: 181002
                            start: 1543888800
                          - delivered: 157838
                            end: 1544061600
                            sent: 168687
                            start: 1543975200
                          - delivered: 152383
                            end: 1544148000
                            sent: 161832
                            start: 1544061600
                      granularity:
                        type: string
                        example: DAY
                      phone_numbers:
                        type: array
                        items:
                          type: string
                          example: "16505550111"
                        example:
                          - "16505550111"
                          - "16505550112"
                          - "16505550113"
                  id:
                    type: string
                    example: "104996122399160"
                  message_template_namespace:
                    type: string
                    example: 58e6d318_b627_4112_b9c7_2961197553ea
                  name:
                    type: string
                    example: Lucky Shrub
                  timezone_id:
                    type: string
                    example: "1"
              examples:
                Example reponse:
                  value:
                    analytics:
                      country_codes:
                        - US
                        - BR
                      data_points:
                        - delivered: 179715
                          end: 1543629600
                          sent: 196093
                          start: 1543543200
                        - delivered: 139032
                          end: 1543716000
                          sent: 147649
                          start: 1543629600
                        - delivered: 58830
                          end: 1543802400
                          sent: 61988
                          start: 1543716000
                        - delivered: 124392
                          end: 1543888800
                          sent: 132465
                          start: 1543802400
                        - delivered: 167335
                          end: 1543975200
                          sent: 181002
                          start: 1543888800
                        - delivered: 157838
                          end: 1544061600
                          sent: 168687
                          start: 1543975200
                        - delivered: 152383
                          end: 1544148000
                          sent: 161832
                          start: 1544061600
                      granularity: DAY
                      phone_numbers:
                        - "16505550111"
                        - "16505550112"
                        - "16505550113"
                    id: "952305634918047"
                Example response:
                  value:
                    analytics:
                      country_codes:
                        - US
                        - BR
                      data_points:
                        - delivered: 179715
                          end: 1543629600
                          sent: 196093
                          start: 1543543200
                        - delivered: 139032
                          end: 1543716000
                          sent: 147649
                          start: 1543629600
                        - delivered: 58830
                          end: 1543802400
                          sent: 61988
                          start: 1543716000
                        - delivered: 124392
                          end: 1543888800
                          sent: 132465
                          start: 1543802400
                        - delivered: 167335
                          end: 1543975200
                          sent: 181002
                          start: 1543888800
                        - delivered: 157838
                          end: 1544061600
                          sent: 168687
                          start: 1543975200
                        - delivered: 152383
                          end: 1544148000
                          sent: 161832
                          start: 1544061600
                      granularity: DAY
                      phone_numbers:
                        - "16505550111"
                        - "16505550112"
                        - "16505550113"
                    id: "952305634918047"
    parameters:
      - name: Version
        in: path
        required: true
        schema:
          type: string
      - name: WABA-ID
        in: path
        required: true
        schema:
          type: string
  /{Version}/{Business-ID}/owned_whatsapp_business_accounts:
    get:
      tags:
        - WhatsApp Business Accounts (WABAs)
      summary: Get owned WABAs
      description: "Endpoint reference: [Business > Extended
        Credits](https://developers.facebook.com/docs/marketing-api/reference/b\
        usiness/extendedcredits/)"
      operationId: getOwnedWabas
      responses:
        "200":
          description: Example response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: "*"
            Alt-Svc:
              schema:
                type: string
                example: h3=":443"; ma=86400
            Cache-Control:
              schema:
                type: string
                example: private, no-cache, no-store, must-revalidate
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Encoding:
              schema:
                type: string
                example: br
            Content-Length:
              schema:
                type: string
                example: "422"
            Date:
              schema:
                type: string
                example: Sat, 08 Apr 2023 01:06:45 GMT
            ETag:
              schema:
                type: string
                example: '"366ab827015bbd04e3737a8e0e33b755ebdb1190"'
            Expires:
              schema:
                type: string
                example: Sat, 01 Jan 2000 00:00:00 GMT
            Pragma:
              schema:
                type: string
                example: no-cache
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15552000; preload
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            X-FB-Debug:
              schema:
                type: string
                example: VZi3ZGTNb0Rd+lKKWI0HEaur9OTNIBff6mO7rsXN/IeCzQa8AcsdK0ef8XPzSYrHjrpTulugwFludywozAfNOQ==
            facebook-api-version:
              schema:
                type: string
                example: v16.0
            x-business-use-case-usage:
              schema:
                type: string
                example: '{"102290129340398":[{"type":"whatsapp_business_management","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}],"104996122399160":[{"type":"whatsapp_business_management","call_count":0,"total_cputime":0,"total_time":0,"estimated_time_to_regain_access":0}]}'
            x-fb-request-id:
              schema:
                type: string
                example: Ah4MqTo1ZUzj81zkb2XbBje
            x-fb-rev:
              schema:
                type: string
                example: "1007269544"
            x-fb-rlafr:
              schema:
                type: string
                example: "0"
            x-fb-trace-id:
              schema:
                type: string
                example: EjCBhZpFH17
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: "104996122399160"
                        message_template_namespace:
                          type: string
                          example: 58e6d318_b627_4112_b9c7_2961197553ea
                        name:
                          type: string
                          example: Lucky Shrub
                        timezone_id:
                          type: string
                          example: "1"
                    example:
                      - id: "104996122399160"
                        message_template_namespace: 58e6d318_b627_4112_b9c7_2961197553ea
                        name: Lucky Shrub
                        timezone_id: "1"
                      - id: "102290129340398"
                        message_template_namespace: ba30dd89_2ebd_41e4_b805_f2c05ae04cc9
                        name: Test WhatsApp Business Account
                        timezone_id: "1"
                  paging:
                    type: object
                    properties:
                      cursors:
                        type: object
                        properties:
                          after:
                            type: string
                            example: QVFIUjBrRUs5QVJuUDhDSmZARMlc2dXRYNXBmMjMtRUt3SmFlbk9PRk43azdiN1VQaW1HcnRkejFzZATNoNDdTdGVWMDhjamVvY25HWnI4WjIzX0hYSk40NHhB
                          before:
                            type: string
                            example: QVFIUnpPVXRnY3BPN19rTVItOG51T291YURjV3BaeXRXU29adDVreS04ekhSNl9YWTlfdmN3SHlyTEk1a2FRdnlWanBqM1FuQm1uZAHhfYl9UMTNCYjM3MWV3
              examples:
                Example response:
                  value:
                    data:
                      - id: "104996122399160"
                        message_template_namespace: 58e6d318_b627_4112_b9c7_2961197553ea
                        name: Lucky Shrub
                        timezone_id: "1"
                      - id: "102290129340398"
                        message_template_namespace: ba30dd89_2ebd_41e4_b805_f2c05ae04cc9
                        name: Test WhatsApp Business Account
                        timezone_id: "1"
                    paging:
                      cursors:
                        after: QVFIUjBrRUs5QVJuUDhDSmZARMlc2dXRYNXBmMjMtRUt3SmFlbk9PRk43azdiN1VQaW1HcnRkejFzZATNoNDdTdGVWMDhjamVvY25HWnI4WjIzX0hYSk40NHhB
                        before: QVFIUnpPVXRnY3BPN19rTVItOG51T291YURjV3BaeXRXU29adDVreS04ekhSNl9YWTlfdmN3SHlyTEk1a2FRdnlWanBqM1FuQm1uZAHhfYl9UMTNCYjM3MWV3
    parameters:
      - name: Version
        in: path
        required: true
        schema:
          type: string
      - name: Business-ID
        in: path
        required: true
        schema:
          type: string
  /{Version}/{Business-ID}/client_whatsapp_business_accounts:
    get:
      tags:
        - WhatsApp Business Accounts (WABAs)
      summary: Get shared WABAs
      description: Get shared WABAs
      operationId: getSharedWabas
      responses:
        "200":
          description: Get List of Shared WABAs
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        currency:
                          type: string
                          example: USD
                        id:
                          type: number
                          example: 1906385232743451
                        message_template_namespace:
[...]
